body{
    text-align: justify;
}

/* Primera seccion header */
header{
    background-color: #0C1D63;
    position: fixed;
    top:0px;
    left: 0px;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;

}

h1{
    float: left;
    margin-left: 6%;
    color: white;
}

ul{
    float: right;
    margin-right: 7%;
}

li{
    display: inline-block;
    margin-top: 14px;
    margin-right: 30px;
    color: white;
}

/* Segunda seccion */
.section_1{
    background-color: #18bc9c;
    margin-top: 75px;

    width: 100%;
    height: auto;
    text-align: center;
}

.imagen_perfil{
    margin-top: 70px;
}

.titulo_bootstrap{
    color: white;
    font-size: 50px;
    font-weight: bold;
    margin-top: 30px;
}
.estrella_bootstrap{
    color: white;
    font-size: 50px;
    font-weight: bold;
    margin-top: 10px;
}
.titulo2_bootstrap{
    color: white;
    font-size: 20px;
    margin-bottom: 50px;
}

/* Segunda Seccion */
.section_2{
    background-color: white;
    margin-top: 77px;
    margin-bottom: 50px;
    width: 100%;
    height: auto;
    text-align: center;
}

.portafolio_black{
    color: black;
    font-size: 40px;
    font-weight: bold;
}

.imagen_portafolio{
    width: 500px;
    height: 400px;
    margin-top: 30px;
}

/* Tercera Seccion */
.parrafo_uno{
    margin-left: 25%;
    margin-right: 1%;
    text-align: justify;
    color: white;
}
.parrafo_dos{
    text-align: justify;
    color: white;
}

.titulo_tercera_seccion{
    color: white;
    font-size: 45px;
    font-weight: bold;
    margin-top: 40px;
}