header{
    background-color: #0C1D63;
    position: fixed;
    top:0px;
    left: 0px;
    width: 100%;
    height: auto;
}

h1{
    float: left;
    margin-left: 6%;
    color: white;
}

ul{
    float: right;
    margin-right: 7%;
}
li{   
    display: inline-block;
    margin-top: 16px;
    margin-right: 30px;
    color: white  
}

img{
    margin: 150px auto;
    width: 400px;
    height: 400px;
    border-radius: 50%;
}